/* main component styling */
.main-container {
    margin: 200px;
}

/* form styling */
.form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
}

#originalText {
    width: 350px;
    height: 200px;
}

#field-2-label {
    font-size: 18px;
    width: 350px;
}

.result-container {
    display: flex;
    flex-direction: column;
    margin-left: 93px;
}

.result-box {
    width: 350px;
    height: 200px;
    border: 1px solid var(--chakra-colors-gray-200);
    border-radius: var(--chakra-radii-md);
    margin-top: 5px;
    padding: 8px 16px 8px 16px;
}

.result-label {
    font-size: 18px;
    font-weight: var(--chakra-fontWeights-medium);
}

#submit-btn {
    width: 200px;
}